---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Register',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="SafeDep Cloud" title="Get Access to SafeDep Cloud" />
  <div class="flex flex-col items-center justify-center w-full">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSdtdVPHWH5R5_2z-PtsRLACxTG1-qSklTIetbSsnZLTc_g6cg/viewform?embedded=true"
      height="914"
      class="w-full">Loading…</iframe
    >
  </div>
  <div></div>
</Layout>
